@define-color white #c1c0d4;
@define-color bg2 #27272a;
@define-color black #161617;
@define-color gray #3e3e43;
@define-color red #e78284;
@define-color green #90b99f;
@define-color yellow #e6b99d;
@define-color blue #aca1cf;
@define-color purple #e29eca;
@define-color aqua #ea83a5;

* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background: transparent;
	color: @white;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#waybar.empty #window {
	background-color: transparent;
}

#workspaces {
	color: @white;
}

#window {
	margin: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

button {
	color: @white;
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	border-top: 2px solid @white;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: @black;
	background: @purple;
	border: @purple;
	padding: 0 3px;
}

#workspaces button {
	padding: 0 4px;
}

#workspaces button.focused {
	background-color: @gray;
	color: @purple;
	border-top: 2px solid @purple;
}

#workspaces button.active {
	background-color: @gray;
	color: @purple;
	border-top: 2px solid @purple;
}

#workspaces button.urgent {
	background-color: @red;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray {
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: transparent;
	transition: color 0.3s ease-in;
	color: @white;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#tray:hover {
	color: @purple;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
	margin-right: 0;
}

#temperatue.critical,
#memory.critical,
#cpu.critical {
	color: @yellow;
}

#temperatue.critical,
#memory.critical,
#cpu.critical {
	color: @red;
}


@keyframes blink {
	to {
		background-color: @white;
		color: @black;
	}
}

label:focus {
	background-color: @gray;
}

#network.disconnected {
	color: @red;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	color: @red;
}
